[bumpversion]
current_version = 0.24.2
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:torch_to_nnef/__init__.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:packages/llm/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:packages/nemo-asr/pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file(core):uv.lock]
search = name = "torch-to-nnef"
	version = "{current_version}"
replace = name = "torch-to-nnef"
	version = "{new_version}"

[bumpversion:file(llm):uv.lock]
search = name = "torch-to-nnef-llm"
	version = "{current_version}"
replace = name = "torch-to-nnef-llm"
	version = "{new_version}"

[bumpversion:file(nemo-asr):uv.lock]
search = name = "torch-to-nnef-nemo-asr"
	version = "{current_version}"
replace = name = "torch-to-nnef-nemo-asr"
	version = "{new_version}"
